apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rustfs.fullname" . }}-config
data:
  RUSTFS_ADDRESS: {{ .Values.config.rustfs.address | quote }}
  RUSTFS_CONSOLE_ADDRESS: {{ .Values.config.rustfs.console_address | quote }}
  RUSTFS_OBS_LOG_DIRECTORY: {{ .Values.config.rustfs.obs_log_directory | quote }}
  RUSTFS_CONSOLE_ENABLE: {{ .Values.config.rustfs.console_enable | quote }}
  RUSTFS_OBS_LOGGER_LEVEL: {{ .Values.config.rustfs.log_level | quote }}
  {{- if .Values.mode.distributed.enabled }}
  {{- if gt (int .Values.volumesPerReplica) 1 }}
  RUSTFS_VOLUMES: "http://{{ include "rustfs.fullname" . }}-{0...{{ sub (int .Values.replicaCount) 1 }}}.{{ include "rustfs.fullname" . }}-headless:9000/data/rustfs{0...{{ sub (int .Values.volumesPerReplica) 1 }}}"
  {{- else }}
  RUSTFS_VOLUMES: "http://{{ include "rustfs.fullname" . }}-{0...{{ sub (int .Values.replicaCount) 1 }}}.{{ include "rustfs.fullname" . }}-headless:9000/data"
  {{- end }}
  {{- else }}
  RUSTFS_VOLUMES: "/data"
  {{- end }}
  RUSTFS_OBS_ENVIRONMENT: "develop"
